{% extends "base.html" %}
{% load static %}

{% block title %} Editar perfil {% endblock title %}

{% block content %}
<div class="container mt-5">
    <h1 class="fw-bold text-center mb-4">Editar Perfil</h1>

    <form method="POST" action="{% url 'editar_perfil' %}" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}
        
        <div class="card shadow-sm p-4">
            <!-- Foto -->
            <div class="text-center mb-4">
                <p class="text-muted">Foto:</p>
                {% if usuario.foto %}
                    <img src="{% static 'pictures/logo_not_found.png' %}" class="img-thumbnail" width="150" alt="Foto de perfil">
                {% else %}
                    <img src="{% static 'pictures/OIP.webp' %}" class="mg-thumbnail" width="150" alt="Foto de perfil">
                {% endif %}
            </div>

            <hr>
            <h4 class="mb-3 text-primary">Datos personales</h4>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Correo electrónico</label>
                    <span>{{ usuario_form.email }}</span>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Rol</label>
                    <span> {{ usuario_form.rol }} </span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 mb-3">
                    <label class="form-label">Primer nombre</label>
                    <span disabled>{{ usuario_form.primer_nombre }}</span>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Segundo nombre</label>
                    {{ usuario_form.segundo_nombre }}
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Tipo Documento</label>
                    <span> {{ usuario_form.tipo_documento }}</span>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Numero de Documento</label>
                    {{ usuario_form.numero_documento }}
                </div>
                <div>
                    <label class="form-label">Municipio de expedicion</label>
                    {{ hoja_form.municipio_expedicion }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Primer apellido</label>
                    {{ usuario_form.primer_apellido }}
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Segundo apellido</label>
                    {{ usuario_form.segundo_apellido }}
                </div>
            </div>

            <hr>
            <h4 class="mb-3 text-primary">Contacto y Dirección</h4>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Número de contacto 1</label>
                    {{ hoja_form.numero_contacto_1 }}
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Número de contacto 2</label>
                    {{ hoja_form.numero_contacto_2 }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Dirección 1</label>
                    {{ hoja_form.direccion_residencia_1 }}
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Dirección 2</label>
                    {{ hoja_form.direccion_residencia_2 }}
                </div>
            </div>

            <hr>
            <h4 class="mb-3 text-primary">Perfil profesional</h4>
            <div class="mb-3">
                <label class="form-label">¿Por qué soy maestro?</label>
                {{ hoja_form.descripcion }}
            </div>
            <div class="mb-3">
                <label class="form-label">Formación académica</label>
                {{ hoja_form.formacion_academica }}
            </div>
            <div class="mb-3">
                <label class="form-label">Formación profesional</label>
                {{ hoja_form.formacion_profesional }}
            </div>
            <div class="mb-3">
                <label class="form-label">Formación adicional</label>
                {{ hoja_form.formacion_adicional }}
            </div>
            <div class="mb-3">
                <label class="form-label">Experiencia en el cargo</label>
                {{ hoja_form.experiencia_en_el_cargo }}
            </div>
            <div class="mb-3">
                <label class="form-label">Nivel educativo en el que se especializa</label>
                {{ hoja_form.nivel_educativo_especializa }}
            </div>

            <div class="d-flex justify-content-end mt-4">
                <a href="{% url 'home' %}" class="btn btn-secondary me-2">Cancelar</a>
                <button type="submit" class="btn btn-success">Guardar cambios</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
