{% extends "baseRegistro.html" %}

{% load static %}

{% block title %} 
    Registro 
{% endblock title %}

{% block content %}
<div class="container min-vh-100 d-flex align-items-center justify-content-center pt-10">
    <div class="row w-100 justify-content-center align-items-center">

    <div class="col-12 col-lg-5 mb-4 mb-lg-0 text-center">
        <img src="{% static 'pictures/logo_not_found.png' %}" alt="Learnexuss" class="img-fluid mb-4" width="200" height="200">
        <img src="{% static 'pictures/logotipo_not_font.png' %}" alt="Learnexuss" class="img-fluid mb-4" width="500" height="500">
    </div>
    
    <div class="col-12 col-lg-5 bg-success-subtle p-4 rounded shadow-sm">
            <h2 class="text-success display-5 fw-semibold fw-bold text-center">REGISTRO</h2>            
            <form method="POST" action="{% url 'registro' %}" class="border p-4 rounded shadow-sm bg-body-secondary">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <div class="mb-3">
                {{ form.tipo_documento.label_tag }}
                {{ form.tipo_documento }}
                {{ form.tipo_documento.errors }}
            </div>

            <div class="mb-3">
                {{ form.numero_documento }}
                {{ form.numero_documento.errors }}
            </div>

            <div class="mb-3">
                {{ form.rol.label_tag }}
                {{ form.rol }}
                {{ form.rol.errors }}
            </div>

            <div class="mb-3">
                {{ form.email }}
                {{ form.email.errors }}
            </div>

            <div class="mb-3">
                {{ form.password }}
                {{ form.password.errors }}
                <small class="text-muted">Debe tener al menos 8 caracteres, una mayúscula, una minúscula, un dígito y un caracter especial (!$%&/?¡_-)</small>
            </div>

            <div class="mb-3">
                {{ form.confirmar_password }}
                {{ form.confirmar_password.errors }}
            </div>
            <br>
            <button type="submit" class="btn btn-success w-100">Registrar</button>
        </form>
    </div>
  </div>
</div>
{% endblock content %}