{% extends "base.html" %}

{% load static %}

{% block title %} Seccion asignaturas {% endblock title %}

{% block content %}
    <div class="container-fluid bg-body-tertiary py-4">
        <div class="row gx-4 gy-4">

            <!-- Vista de grupos creados -->
            <div class="col-md-8">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="fw-bold fs-1">Temas {{asignatura}}</h2>
                    <a href="#" class="btn btn-success fw-bold">
                        Regresar
                    </a>
                </div>

                <div class="d-flex flex-wrap justify-content-around gap-3 p-3 border border-3 rounded"
                    style="min-height: 60vh;">
                    {% if not tema %}
                        <h1>No hay Temas en esta aula</h1>
                    {% else %}
                    <!-- Carta -->
                        {% for i in tema %}
                        <div class="card" style="width: 14rem;">
                            <img src="{% static 'pictures/logo_not_found.png' %}" class="card-img-top" alt="Imagen referente al grupo">
                            <div class="card-body">
                                <h5 class="card-title">{{i.tema}}</h5>
                                <p class="card-text"></p>
                                <div class="btn-group d-flex justify-content-center" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-secondary" onclick="window.open('', '_blank')">Light</button>
                                    <button type="button" class="btn btn-warning">Full</button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <!-- Menú de herramientas -->
            <div class="col-md-4">
                <div class="d-flex flex-column bg-light p-3 border border-3 rounded"
                    style="height: 60vh;">
                    <h1 class="mb-2 text-center fw-bold">Gestión educativa</h1>
                    <a href="{% url 'nivel_educativo' %}" class="btn btn-outline-primary mb-2 w-100 fw-bold">Niveles educativos</a>
                    <a href="{% url 'grados' %}" class="btn btn-outline-primary mb-2 w-100 fw-bold">Grados</a>
                    <a href="{% url 'grupos' %}" class="btn btn-outline-primary mb-2 w-100 fw-bold">Grupos</a>
                    <a href="{% url 'areas' %}" class="btn btn-outline-primary mb-2 w-100 fw-bold">Areas</a>
                    <a href="{% url 'asignaturas' %}" class="btn btn-outline-primary mb-2 w-100 fw-bold">Asignaturas</a>
                    <a href="{% url 'temas' %}" class="btn btn-outline-primary mb-2 w-100 fw-bold">Temas</a>
                    <a href="{% url 'planes_leccion' %}" class="btn btn-outline-primary mb-2 w-100 fw-bold">Planes de lección</a>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}